$font-stack:    Helvetica, sans-serif;
$primary-color: gray;
$boxWidth: 20em;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
      width: 100%;
    margin-bottom: 2em;
  }

  li { 
      display: inline-block;
      color: black;
      font-size: 2em;
    transition: .5s;
    }
    li:hover{
        color: white;
      transition: .5s;
    }

  a {
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
      background-color: aqua;
    transition: 1s;
  }
    a:hover{
        background-color: orange;
      transition: 1s;
    }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
.box {
  width: $boxWidth;
  @include border-radius(10px);
  border-style: solid;
  border-width: 5px;
}
@mixin transition($transition...) {
    transition:         $transition;
}
.aHover {
  color: black;
  display: inline-block;
  padding: 10px;
  font-size: 3em;
  text-decoration: none;
  background-color: orange;
  border-radius: 4px;
  @include transition(background-color 1s, color 1s);
}
.aHover:hover {
   color: white; 
  background-color: black;
}
