$font-stack:    Helvetica, sans-serif;
$primary-color: gray;
$boxWidth: 10em;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
      width: 100%;
  }

  li { 
      display: inline-block;
      color: black;
      font-size: 2em;
    }
    li:hover{
        color: white;
    }

  a {
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
      
  }
    a:hover{
        background-color: aqua;
    }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
.box {
  width: $boxWidth;
  @include border-radius(10px);
  border-style: solid;
  border-width: 5px;
}
